<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="emporio" value="https://pkgs.dev.azure.com/txsDev/_packaging/txsFeed/nuget/v3/index.json" />
  </packageSources>
   <packageSourceCredentials>
     <emporio>
        <add key="Username" value="unknown" />
        <add key="ClearTextPassword" value="{{secrets.emporio}}" />
     </emporio>
  </packageSourceCredentials>
</configuration>